@bodyDesignedWidth: 1200px;
@rightSideDesignedWidth: 800px;
@columnDesignedWidth: 136px;
@leftSideDesignedWidth: @bodyDesignedWidth - @rightSideDesignedWidth - @columnDesignedWidth;

@verticalBaselinePositionInPercents: 100% * @leftSideDesignedWidth / (@leftSideDesignedWidth + @rightSideDesignedWidth);

@columnVerticalOffset: -(round(@columnDesignedWidth * @verticalBaselinePositionInPercents / 100));

@coverBackgroundSize: @columnDesignedWidth;
@coverAdditionalFrameSize: 18px;
@coverFullSize: @coverBackgroundSize + 2*@coverAdditionalFrameSize;

body, html {
    height: 100%;
    margin: 0;
}

.column {
    width: @columnDesignedWidth;
    height: 100%;

    position: relative;
    margin-left: @verticalBaselinePositionInPercents;
    left: @columnVerticalOffset;

    background-color: #F1F1F1;
}

.cover {
    width: @coverFullSize;
    height: @coverFullSize;

    position: relative;
    left: -(@coverAdditionalFrameSize);
    top: 270px;

    background: url("img/covers/7.png") no-repeat;
}
